print('This is a string {}'. format('INSERTED'))

In [2]:
print('The {1} {1} {1}'. format('fox', 'brown', 'quick'))

The brown brown brown

In [3]:
print('The {0} {1} {2}'. format('fox', 'brown', 'quick'))

The fox brown quick

In [4]:
print('The {f} {b} {q}'. format(f= 'fox', b= 'brown', q= 'quick'))

The fox brown quick

In [5]:
%%writefile myfile.txt
Hello this is a test line
This is the second line
This is the Third line

Overwriting myfile.txt

In [6]:
  myfile = open('myfile.txt')

In [7]:
pwd

'C:\\Users\\USER\\Desktop\\GG Python'

In [8]:
myfile.readlines()

['Hello this is a test line\n',
 'This is the second line\n',
 'This is the Third line\n']

In [9]:
d = {'k1':[1,2,{'k2':['this is tricky', {'tough': [1,2, ['hello']]}]}] }

In [10]:
d['k1']

[1, 2, {'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}]

In [11]:
d['k1'][1]

2

In [12]:
d['k1'][2]

{'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}

In [13]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [14]:
loc = 'Ship'

if loc == 'Store':
    print("Welcome to store!")
elif loc == 'Auto mobile':
    print('cars are cool!')
else:
    print('I do not know much!')

I do not know much!

In [15]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for num in mylist:
    if num % 2 ==0 :
        print(num)
    else:
        print(f'This is odd:{num}')

This is odd:1
2
This is odd:3
4
This is odd:5
6
This is odd:7
8
This is odd:9
10

In [16]:
for _ in mylist:
    print('jelly')

jelly
jelly
jelly
jelly
jelly
jelly
jelly
jelly
jelly
jelly

In [17]:
list_sum = 0
for _ in mylist:
    list_sum = list_sum + _
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [18]:
list_sum = 0
for _ in mylist:
    list_sum = list_sum + _
print(list_sum)

55

In [19]:
for _ in 'Hello':
    print(_)

H
e
l
l
o

In [20]:
tup = (1,2,3)
for _ in tup:
    print(_)

1
2
3

In [21]:
mylist1 = [(1,2), (3,4), (5,6)]
for _ in mylist1:
    print(_)

(1, 2)
(3, 4)
(5, 6)

In [22]:
for a,b in mylist1:
    print(b)

2
4
6

In [23]:
d = {'k1' : 1, 'k2' : 2, 'k3' : 3}
for _ in d.items():
    print(_)

('k1', 1)
('k2', 2)
('k3', 3)

In [24]:
x = 0
while x<3:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("Now x is bigger than 3")

The current value of x is 0
The current value of x is 1
The current value of x is 2
Now x is bigger than 3

In [25]:
mystring = 'letter'

for _ in mystring:
    if _ == 't':
        break
    print(_)

l
e

In [26]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
for _ in range(0, 10,3):
    print(_)

0
3
6
9

In [28]:
list(range(0,10,3))

[0, 3, 6, 9]

In [29]:
index_count = 0

for _ in "abcde":
    print('At index {} the letter is {}'.format(index_count, _))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

# enumerate

In [30]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [31]:
word = 'ghdhh'

for index, letter in enumerate(word):
    #print(index, letter)
    
    print(index)
    print(letter)
    print('\n')

0
g


1
h


2
d


3
h


4
h

In [32]:
list1 = ['a', 'b', 'c']
list2 = [1,2,3]

for item in zip(list1, list2):
    print(item)

('a', 1)
('b', 2)
('c', 3)

In [33]:
my_list = []

for x in [1,2,3]:
    for y in [10,100,1000]:
        my_list. append(x*y)

In [34]:
my_list

[10, 100, 1000, 20, 200, 2000, 30, 300, 3000]

In [35]:
celcius = [2,6,8,10]
fahrenheit = []

for temp in celcius:
    fahrenheit. append(((9/5)*temp+32))

In [36]:
fahrenheit

[35.6, 42.8, 46.4, 50.0]

In [37]:
listo = [1,2,3]

In [40]:
listo[::-1]

[3, 2, 1]

In [ ]:
string = 'Tahmid'